  
body{
    color: rgb(248, 241, 241);
    background-color: rgb(74, 75, 71);
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(235, 186, 186);
    font-size: 40px;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(235, 186, 186);
    font-size: 20px;
}
p{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic
}
.imdb{
    color: rgb(236, 24, 24);
    font-weight: bold;
}