body{
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5pt;
    padding: 2pt;
    background-image: url("./silverware.jpg");
    background-repeat: round;
}

.heading{
    color: #A4A400;
    padding: 5pt;
    background-color: #F0F0F0;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h1{
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
}

.listheading{
    font-weight: bold;
}
ul{
    list-style-image: url("./pie_icon.gif");
    font-weight: normal;  
}

footer{
    margin-top: 10pt;
    text-align: right;
}
.usercomments{
    margin: 20pt;
    font-style: italic;
    background-color:rgb(238, 238, 138) ;
}

.abbrevaration{
    text-decoration: underline;
}

.search{
    text-decoration: underline;
    color: #A4A400;
}
.validator{
    text-align: right;
}
.abbrevaration:hover{
    display:inline;
}



